<h1>Catalogo de Empleados</h1>

<div class="row">
  <div class="col">
    <form #addEmpleadoForm="ngForm" (ngSubmit)="agregarEmpleado(addEmpleadoForm)">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label >Nombre Completo:</label>
          <input name="nombre" [(ngModel)]="_empleadoService.Empleado.nombre" type="text" class="form-control form-control-sm" id="" placeholder="Nombre(s)"  style="text-transform:uppercase">
        </div>
        <div class="form-group col-md-4">
          <label>Numero de Empleado:</label>
          <input name="no_empleado" [(ngModel)]="_empleadoService.Empleado.no_empleado" type="text" class="form-control form-control-sm" id="" placeholder="Numero de Empleado"  style="text-transform:uppercase">
        </div>
        <div class="form-group col-md-4">
          <label>Unidad Administrativa:</label>
          <input name="unidad_ad" [(ngModel)]="_empleadoService.Empleado.unidad_ad" type="text" class="form-control form-control-sm" id="" placeholder="Unidad Administrativa" style="text-transform:uppercase">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <button class="btn btn-outline-success mt-2 mr-2 mb-4">Agregar Empleado</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
