<h1>Catalogo de edificios</h1>
<div class="row">
    <div class="col-6">
        <form class="form">
            <label>Buscar Edificio:</label>
            <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Buscar Edificio" aria-label="Search">
            <button class="btn btn-outline-success mt-2 mr-2 mb-4" type="submit">Buscar</button>

            <button class="btn btn-outline-info mt-2 mr-2 ml-4 mb-4" type="submit">Ver todos los Edificios</button>
        </form>
    </div>
</div>

<form>
    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputEmail4">Clave de Edificio:</label>
        <input type="email" class="form-control form-control-sm" placeholder="Clave de Edificio" id="">
      </div>

      <div class="form-group col-md-8">
        <label for="inputEmail4">Nombre Edificio:</label>
        <input type="email" class="form-control form-control-sm" placeholder="Nombre Edificio" id="">
      </div>
    </div>

    <div class="form-group">
      <label>Calle y Numero:</label>
      <input type="text" class="form-control form-control-sm col-8" id="" placeholder="Calle y Numero">
    </div>

    <div class="form-group">
        <label>Colonia:</label>
        <input type="text" class="form-control form-control-sm col-8" id="" placeholder="Colonia">
    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="inputEmail4">Delegacion o Municipio:</label>
            <input type="email" class="form-control form-control-sm" placeholder="Delegacion o Municipio" id="">
        </div>

        <div class="form-group col-md-4">
            <label >C.P:</label>
            <input type="email" class="form-control form-control-sm" placeholder="C.P" id="">
        </div>

        <div class="form-group col-md-4">
            <label>Estado:</label>
            <input type="text" class="form-control form-control-sm" id="" placeholder="Estado">
        </div>
    </div>

    <div class="form-group">
        <label>Entre las calles:</label>
        <input type="text" class="form-control form-control-sm col-8" id="" placeholder="Entre las calles">
    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
          <label for="inputEmail4">Telefono:</label>
          <input type="email" class="form-control form-control-sm" placeholder="Telefono" id="">
        </div>
  
        <div class="form-group col-md-4">
          <label for="inputEmail4">Extension:</label>
          <input type="email" class="form-control form-control-sm" placeholder="Extension" id="">
        </div>
      </div>

    <div class="form-group">
      <label>Fecha:</label>
      <input type="text" class="form-control form-control-sm col-4" id="" placeholder="Fecha">
    </div>
    
    <div class="form-group">
        <label>Comentarios:</label>
          <textarea class="form-control" id="" rows="3" placeholder="Comentarios..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary"><i class='bx bx-plus'></i>Agregar</button>
  </form>
