<h1>Administracion de Inventario</h1>
<div class="row">
    <div class="col-6">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true"><i class='bx bxs-buildings'></i> INVENTARIO POR UNIDAD ADMINISTRATIVA</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bx-list-ol'></i> LISTA DE EMPLEADOS POR UNIDAD ADMNISTRATIVA</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bxs-user-badge'></i> TODOS LOS RESGUARDOS POR UNIDAD ADMINISTRATIVA</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bxs-user-x'></i> BIENES NO ASIGNADOS POR UNIDAD ADMINISTRATIVA</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bx-transfer' ></i> TRANSFERENCIA DE BIENES A OTRA UNIDAD ADMINISTRATIVA</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bx-collapse-horizontal' ></i> ACEPTACION / RECHAZO DE TRANSFERENCIAS</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bx-user-plus'></i> ASIGNAR BIENES A EMPLEADOS</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bx-list-plus'></i> DESIGNAR BIENES A EMPLEADOS</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bxs-group'></i> REASIGNAR BIEN COMPLETOS DE EMPLEADO A EMPLEADO</a>
            <a href="#" class="list-group-item list-group-item-action"><i class='bx bxs-book-bookmark' ></i> BITACORA DE TRANSFERENCIAS</a>
        </div>
    </div>
    <div class="col-6">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Instrucciones de Uso</h1>
              <p class="lead">Estas opciones nos permiten hacer la administracion.</p>
              <p>Para poder tener acceso a estas opciones, necesitamos ser administradores y poder elegir, en caso contrario, o no tenemos acceso a la informacion o solo podemos hacer operaciones de la misma Unidad.</p>
              <p>Revise sus provilegios.</p>
            </div>
        </div>
    </div>
</div>
