<h1>Catalogo de Marcas Comerciales</h1>
<form>
    <div class="form-group">
        <label>Clave de Marca:</label>
        <input type="text" class="form-control form-control-sm col-6" id="" placeholder="Clave de Marca">
    </div>

    <div class="form-group">
        <label>Marca:</label>
        <input type="text" class="form-control form-control-sm col-6" id="" placeholder="Marca">
    </div>

    <div class="form-group">
        <label>Descripcion:</label>
        <textarea class="form-control col-6" id="" rows="3" placeholder="Descripcion..."></textarea>
    </div>

    <div class="form-group">
        <label>Comentarios:</label>
        <textarea class="form-control col-6" id="" rows="3" placeholder="Comentarios..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary"><i class='bx bx-plus'></i>Agregar</button>
  </form>
<hr>
  <div class="row">
    <h1>Todas las marcas actuales</h1>
  </div>
